<h1>Looking for music?</h1>

<p>Use this app to find new music...etc.</p>

<form>
    <div class="form-group">
        <input type="text" name="searchStr" ng-model="searchStr" class="form-control" placeholder="Search for music..."  />
    </div>
</form>




<!--<h1>Search!</h1>

<input type="text" data-ng-model="vm.query" />
<button data-ng-click="vm.search()">Search!</button>

<div *ngIf="artist">
    <header class="artist-header">
        <div *ngIf="artist.images.lenght">
            <img class="artist-thumb img-circle" src="{{artist.images[0].url}}" />
        </div>
    </header>

</div>-->

<!-- -->
<!--<div data-ng-repeat="item in vm.items track by item.id">
    <h3>{{::item.name}}</h3>
    @*{{::item.id}}.*@
</div>-->